*{
    margin:0;
    padding:0;
}
input,button{
    -webkit-appearance:none;
    appearance:none;
    display:block;
    font-family:Georgia;
}
body{
    font-family:Georgia; 
    background-color: pink;
    
}
form{
    padding:20px;
    border-bottom:1px dashed #999;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
form input[type="text"]{
    border:none;
    border-bottom:1px dashed #999;
    padding:5px;
    text-align:center;
    color:#333;
    font-size:1.5em;
    width:600px;
}
form input[type="submit"]{
   background-color:transparent;
   border:1px solid #333;
   color:#333;
   padding:15px;
   border-radius:10px;
   margin-top:20px; 
}
.tareas{
    width:600px;
    margin:20px auto 0;
}
/* componente tarea*/
.tarea{
    border:2px solid #333;
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.tarea h2,.tarea input{
    font-size:2em;
    color:#333;
    width:100%;
    font-weight:normal;
    display:none;
}
.tarea input{
    border:none;
    border-bottom:1px dashed #999;
    padding-bottom:5px;
}
.tarea .visible{
    display:block;
}
.boton{
    background-color:transparent;
    border:1px solid #333;
    color:#333;
    padding:15px;
    border-radius:10px;
    margin-top:20px;
    margin-right:20px; 
}
.estado{
    width:50px;
    height:20px;
    border-radius:10px;
    background-color:#333;
    margin-top:20px;
    border:none;
    position:relative;
}
.estado span{
    display:block;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#c00;
    position:absolute;
    top:0;
    left:0;
    transition:left 0.8s,background-color 1s;
}
.terminada span{
    left:30px;
    background-color:#0c0;
}